@import '../../styles/variables';

.section {
  margin-bottom: 11.8rem;

  .section-container {
    @extend %container;

    .placeholder-container {
      position: relative;
      top: -10.4rem;
      pointer-events: none;

      .top-left {
        position: absolute;
        top: -24.6rem;
        right: 83.2rem;
        width: 66rem;
      }

      .top-right {
        position: absolute;
        top: -4.2rem;
        left: 31.6rem;
        width: 143.8rem;
      }
    }

    position: relative;

    .text-container {
      max-width: 55rem;
      padding-top: 15.3rem;

      .header {
        color: $white;
        font-weight: 700;
        line-height: 1.2;

        @include font-size-media(5rem, 3.1rem, 980);
      }

      .text {
        margin-top: 1.5rem;
        color: $secondary;
        font-size: 1.8rem;
        line-height: 1.5;
      }

      .button {
        width: 23.8rem;
        margin-top: 5rem;
      }
    }
  }

  .chart-container {
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 70rem;
    width: 80.4rem;

    .main-chart {
      position: absolute;
      top: 12.2rem;
      left: -6.2rem;
      border-radius: 3rem;
      box-shadow: 0 20px 54px -16px rgb(25 42 89 / 20%);
    }

    .main-screen {
      position: absolute;
      border-radius: 3rem;
      box-shadow: 0 18px 50px -15px rgb(25 42 89 / 20%);
    }
  }

  @include min-width-media(979) {
    .section-container {
      .placeholder-container {
        display: none;
      }

      .text-container {
        padding-top: 0;
        margin-top: 2.6rem;

        .button {
          width: 100%;
          max-width: 34rem;
          margin-top: 2.5rem;
        }
      }
    }

    .chart-container {
      position: initial;
      max-width: 100%;

      .main-screen {
        position: initial;
        max-width: 100%;
      }

      .main-chart {
        display: none;
      }
    }
  }
}
