@import '../../../../styles/variables';

.card-container {
  display: flex;
  gap: 2rem;

  .card {
    text-align: center;

    .title {
      margin-top: 2.6rem;
      color: $main;
      font-size: 1.6rem;
      font-weight: 700;
    }

    .text {
      padding: 0 3.5rem;
      margin-top: 1.5rem;
      color: $secondary;
      font-size: 1.4rem;
      line-height: 1.4;

      @include font-size-media(1.6rem, 1.4rem, 700);
    }
  }

  @include min-width-media(700) {
    flex-direction: column;
    gap: 3.5rem;

    .card {
      display: grid;
      grid-template-columns: 8.9rem auto;
      grid-template-rows: repeat(2, auto);
      text-align: left;

      .icon {
        grid-row: 1 / span 2;
      }

      .title {
        margin-top: 0;
      }

      .text {
        padding: 0;
        margin-top: 0.9rem;
      }
    }
  }
}
