@use 'sass:color';
@import '../../styles/variables';

.button {
  height: 50px;
  border: none;
  border-radius: 68px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  line-height: 1.1875;

  @include use-transition(background-color);

  @include hover {
    background-color: color.adjust($red, $lightness: 10%);
    cursor: pointer;
  }

  &_ghost {
    border: 1px solid #465b95;
    background-color: transparent;

    @include hover {
      background-color: rgba($black, 0.1);
    }
  }
}
