@import '../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
  gap: 12rem;

  .card {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    &.rtl {
      flex-direction: row-reverse;
    }

    .text-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        color: $main;
        font-weight: 700;

        @include font-size-media(4rem, 3rem, 700);
      }

      .text {
        margin-top: 3rem;
        color: $secondary;
        line-height: 1.5;

        @include font-size-media(1.8rem, 1.4rem, 700);
      }
    }

    .chart {
      max-width: 60rem;
      border-radius: 3rem;
      box-shadow: 0 18px 50px -15px rgb(25 42 89 / 20%);
    }
  }

  @include min-width-media(1100) {
    .card {
      gap: 3rem;
    }
  }

  @include min-width-media(1020) {
    margin-top: 7.1rem;
    gap: 6rem;

    .card,
    .card.rtl {
      flex-direction: column;

      .text-wrap {
        .text {
          margin-top: 2rem;
        }
      }

      .chart {
        width: 100%;
        align-self: center;
      }
    }
  }
}
