@use 'sass:color';
@import './fonts';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  text-size-adjust: none;
}

html {
  font-family: $font-family;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: $main;

  $size: 0.5rem;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: color.adjust($main, $lightness: 7%);

    &:hover {
      background-color: color.adjust($main, $lightness: 15%);
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}
