@use 'sass:string';
@use 'sass:list';

$transition-fn: ease-out;
$transition-time: 250ms;
$transition: all $transition-time $transition-fn;
$black: #000;
$white: #fff;
$background-color: #f8f9ff;
$main: #172755;
$secondary: #8794ba;
$red: #ef2a82;
$container-width-px: 1220;
$font-family: 'Roboto', sans-serif;

/** min width media query */
@mixin min-width-media($width) {
  @media screen and (width <= $width + 'px') {
    @content;
  }
}

/** max width media query */
@mixin max-width-media($width) {
  @media screen and (width > $width + 'px') {
    @content;
  }
}

/** min height media query */
@mixin min-height-media($height) {
  @media screen and (height < $height + 'px') {
    @content;
  }
}

/** has hover */
@mixin hover {
  @media screen and (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin reset-link {
  text-decoration: none;
}

@function concat-list($list) {
  $res: '';

  @if list.length($list) == 1 {
    @return list.nth($list, 1);
  }

  @each $item in $list {
    $res: $res + $item + ', ';
  }

  @return $res;
}

/** set property transition */
@mixin use-transition($property...) {
  transition: string.slice(string.unquote(concat-list($property)), 0, -1)
    $transition-time $transition-fn;
}

@mixin font-size-media($max, $min, $break-point-width) {
  font-size: $max;

  @include use-transition(font-size);

  @include min-width-media($break-point-width) {
    font-size: $min;
  }
}

%container {
  max-width: $container-width-px + px;
  padding: 0 2rem;
  margin: 0 auto;

  @include min-width-media($container-width-px) {
    overflow-x: clip;
  }
}
