@import '../../styles/variables';

.main {
  padding-top: 10.4rem;

  &::before {
    position: absolute;
    top: -10.4rem;
    width: 100%;
    height: 10.4rem;
    background-color: $main;
    content: '';
  }
}
