@import '../../styles/variables';

.section {
  margin-top: 17rem;

  .text-wrapper {
    @extend %container;

    .title {
      color: $white;
      font-weight: 700;
      text-align: center;

      @include font-size-media(4rem, 3rem, 700);
    }

    .sub {
      max-width: 65rem;
      margin: 3rem auto 0;
      color: $secondary;
      line-height: 1.5;
      text-align: center;

      @include font-size-media(1.8rem, 1.4rem, 700);
    }
  }

  @include min-width-media(700) {
    margin-top: 9rem;

    .text-wrapper {
      .title,
      .sub {
        text-align: left;
      }

      .sub {
        margin-top: 2rem;
      }
    }
  }
}
