@import '../../styles/variables';

%link-template {
  color: $secondary;
  font-size: 1.6rem;
  line-height: 1.1875;

  @include reset-link;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 5rem 0 1rem;
  background-color: transparent;
  transition: $transition;

  $shadow: 0 0.4rem 0.4rem #12214d;

  &.scrolled {
    padding: 2rem 0 0.8rem;
    background-color: $main;
    box-shadow: $shadow;
  }

  .container {
    display: flex;
    flex: 1;
    align-items: center;

    @extend %container;

    .nav {
      display: flex;
      margin-left: 8.2rem;
      gap: 3.6rem;

      .nav-link {
        @extend %link-template;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 4rem;

      .signin {
        @extend %link-template;
      }

      .signup {
        @extend %link-template;

        width: 16rem;
        height: 4rem;
      }

      .menu {
        display: none;
        width: 2.4rem;
        height: 2.1rem;
        border: none;
        background-color: unset;
        gap: 0.5rem;
        transition: $transition;

        span {
          position: relative;
        }

        span::before,
        span::after,
        span {
          display: block;
          width: 100%;
          height: 0.3rem;
          background-color: $secondary;
          content: '';
          transition: $transition;
        }

        span::before,
        span::after {
          position: absolute;
        }

        span::before {
          top: -0.8rem;
          transform-origin: top left;
        }

        span::after {
          bottom: -0.8rem;
          transform-origin: bottom left;
        }

        &.menu-open {
          span {
            background-color: transparent;
          }

          span::before {
            transform: rotate(45deg);
          }

          span::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @include min-width-media(979) {
    $height: 7rem;

    height: $height;
    padding: 0;
    background-color: $main;
    box-shadow: $shadow;

    &.scrolled {
      padding: 0;
    }

    .container {
      .logo {
        img {
          width: 13.8rem;
        }
      }

      .nav {
        position: absolute;
        top: $height;
        left: 0;
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: $main;
        gap: 0;

        a {
          width: 100%;
          padding: 2rem 0;
          text-align: center;
        }

        &.nav-open {
          display: flex;
          box-shadow: $shadow;
        }
      }

      .buttons {
        gap: 1.8rem;

        .signup {
          display: none;
        }

        .menu {
          display: inline;
        }
      }
    }
  }
}
