@import '../../styles/variables';

.section {
  @include min-width-media($container-width-px) {
    overflow-x: clip;
  }

  .angle-wrapper {
    $border: 1.7rem solid $red;
    $angle: 7deg;
    $margin-angle: 20rem;

    border-top: $border;
    border-bottom: $border;
    margin: 0 -#{$margin-angle};
    background-color: $background-color;
    transform: rotate(-$angle);

    .revert-wrap {
      display: flex;
      justify-content: center;
      transform: rotate($angle);

      .container {
        @extend %container;

        margin: 14rem $margin-angle 24rem $margin-angle;

        .header {
          color: $main;
          font-weight: 700;
          text-align: center;

          @include font-size-media(4rem, 3rem, 700);
        }

        .sub {
          max-width: 106rem;
          margin-top: 3rem;
          color: $secondary;
          line-height: 1.5;
          text-align: center;

          @include font-size-media(1.8rem, 1.4rem, 700);
        }

        .icons {
          margin-top: 81px;
        }

        @include min-width-media(700) {
          margin: 8rem $margin-angle;

          .header,
          .sub {
            text-align: left;
          }

          .sub {
            margin-top: 2rem;
          }

          .icons {
            margin-top: 41px;
          }
        }
      }
    }
  }
}
