@import '../../styles/variables';

.footer {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;

  .placeholder {
    position: absolute;
    z-index: -1;
    bottom: -10rem;
    left: calc(50% - 20rem);
    overflow: hidden;
    width: 100%;
    height: 101rem;

    .subtract {
      position: absolute;
      bottom: -101rem;
      left: 0;
      width: 201rem;
    }
  }

  .inner {
    @extend %container;

    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 6.3rem;
      border-top: 1px solid #2a407c;

      .nav {
        display: flex;
        font-size: 1.4rem;
        gap: 3.6rem;

        .link {
          color: $secondary;

          @include reset-link;
        }
      }

      .icons {
        display: flex;
        gap: 4rem;
      }
    }
  }

  @include min-width-media(700) {
    margin-top: 0.3rem;
    margin-bottom: 4.8rem;

    .inner {
      .wrap {
        padding-top: 4.5rem;

        .nav {
          display: none;
        }
      }
    }
  }

  @include min-width-media(980) {
    .placeholder {
      display: none;
    }
  }
}
