@import '../../../styles/variables';

.card-container {
  margin-top: 8rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .track {
    display: flex;
    width: max-content;
    justify-content: center;
    padding: 0 2rem 5rem;
    margin: auto;
    gap: 8rem;

    @include use-transition(gap);

    .card {
      padding: 5rem 6rem 7rem;
      border-radius: 3rem;
      background-color: $white;
      box-shadow: 0 18px 50px -15px #060f28;
      text-align: center;

      @include use-transition(padding, background-color);

      .title {
        color: $main;
        font-weight: 700;

        @include font-size-media(3rem, 2.5rem, 700);
      }

      .user-count {
        width: 22rem;
        padding-bottom: 3.7rem;
        border-bottom: 1px solid #d3d9e9;
        margin-top: 1rem;
        color: $secondary;

        @include font-size-media(1.8rem, 1.3rem, 700);
      }

      .price {
        margin-top: 2.8rem;
        color: $main;
        font-size: 3rem;
        font-weight: 700;

        .amount {
          font-size: 6rem;
        }
      }

      .per-month {
        color: $secondary;

        @include font-size-media(1.6rem, 1.3rem, 700);
      }

      .button {
        width: 90%;
        margin-top: 4rem;
      }

      @include max-width-media(700) {
        &:nth-child(odd) {
          background-color: rgba(#0f1f4b, 0.7);

          .title,
          .price {
            color: $white;
          }

          .user-count {
            border-bottom: 1px solid #2a407c;
          }

          .button {
            border: 1px solid #465b95;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include min-width-media(700) {
    margin-top: 6rem;

    .track {
      gap: 2rem;

      .card {
        padding: 3.5rem 3rem 4.7rem;
      }
    }
  }

  @include min-width-media(1220) {
    .track {
      cursor: grab;
    }
  }
}
